/*Estilos Globales*/
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(to bottom, #ffa07a 0%, #879C90 100%);
  color: #fff;
  min-height: 100vh;
}

:root {
  --primary: #525D53;  /* verde musgo */
  --accent: #F6A9A1;   /* rosado */
  --danger: #661218;   /* rojo vino */
}
